<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProjectV3</title>
    </head>
    <body class="body">

      <div class="jumbotron">
        <hr>
    <h1> Welcome to The Gossip Project</h1>
    <h2 class="display-3"><%= @params %></h2>
<%= link_to "Pour créer un nouveau Gossip c'est par ici !", new_gossip_path %>
    <hr>
    </div>
        <div class="card-columns">
          <% Gossip.find_each do |gossip| %>
            <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-dark"><a href="/user/<%= gossip.user.id%>"><%= gossip.user.first_name %></a> </div>
            <div class="card-body text-dark"><h5 class="card-title"><%= gossip.title %></h5></div>
            <div class="card-footer bg-transparent border-dark"><a href="/gossip/<%= gossip.id %>">Voir le gossip</a></div>
            </div>
          <% end %>
        </div>
  </body>
</html>
