
<h1>Bienvenue sur le profil de: <%= @user.first_name %> <%= @user.last_name %></h1>
<hr>
<h4>Description de l'auteur:</h4>
<p><%= @user.description %></p>
<h4>Email:</h4>
<p><%= @user.email %></p>
<h4>Age:</h4>
<p><%= @user.age %></p>
<h4>Ville d'origine:</h4>
<a href="/city/<%= @city %>"><%= @city_name.name%></a>
